// 清除内外边距
body,h1, h2, h3, h4, h5, h6, hr, p, blockquote, // structural elements 结构元素
dl, dt, dd, ul, ol, li, // list elements 列表元素 
pre, // text formatting elements 文本格式元素 
form, fieldset, legend, button, input, textarea, // form elements 表单元素
th, td // table elements 表格元素 
	{
	    margin: 0;
	    padding: 0;
	    font-size: 100%;
	}
body { font-family:Arial,'Times New Roman','Microsoft YaHei',SimHei; 
font:bold 12px/0.75em Arial,'Times New Roman','Microsoft YaHei',SimHei; }
body{behavior:url(csshover.htc);} 
a { text-decoration:none;}  
ul,li { list-style:none;}
img { border:0; display:block;} 
em { font-style:normal;} 
//左右浮动
.fl { float:left;}
.fr { float:right;}  
//清除浮动
.cf:before,.cf:after {content: ".";display: block;height: 0;visibility: hidden;}
.cf:after {clear: both;}
.cf {zoom: 1;} // IE < 8 